.header{
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    padding:0;
    justify-items: center;
}
.collegename{
    margin-left: 5%;
}
.rightlogo{
    margin-left: 40%;
}
.footer{
    background-color: cornflowerblue;
    color: black;
    text-align: center;
    padding: 5px 0;
    position: sticky;
    bottom: 0;
    width: 100%;
    margin-top: 320px;
    font-size: 30px;
}